html, body{
    margin: 0;
    padding: 0;
    color: white;
    background-color: #131417;
}
p, h3{
    margin: 0;
    padding: 0;
}
ul{
    padding-left: 0;
}
ul li{
    list-style-type: none;
}
.card img{
    border-radius: 10px;
}
.card {
    max-width: 300px;
    background: #1e1f26;
    margin:auto;
    padding: 1em;
}

.card-thumbnail img {
    max-width: 100%;
    object-fit: cover;
}
.card-body{
    display: flex;
}
.card-avatar img{
    height: 50px;
    width: 50px;
    margin-right:1em ;
}
.card-details {
    line-height: 1.5;
}

.card-details h3 {
    font-weight: 900;
    font-size: 1rem;
}

.card-details p {
    font-size: .85rem;
    color: var(--username);
}

.card-stats {
    display: none;
}

.card-stats li {
    background:  #131417;
    padding: .25em .5em;
    margin-right: .5em;
    border-radius: 5px;
}

.card:hover .card-stats {
    display: flex;
}

.card:hover{
    padding-bottom: 0.5rem;
}