html, body{
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1:after{
    content: "";
    animation: 6s swap infinite;
}

@keyframes swap{
    0%{
        content: " Web DEvloper";
    }
    25%{
        content: " Designer";
    }
    50%{
        content: " AI Engineer";
    }
    75%{
        content: " ML Enthusisast";
    }
    100%{
        content: " Leader";
    }
   
}