:root {
    --black: #282828; 
    --blue: #2892f9; 
    --red: #fb2f27;
    --yellow: #fdfe29;
}

html, body {
    margin: 0;
    padding: 0;
} 

.rings, .ring{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ring-1{
    border-radius: 50%;
    height: 500px;
    width: 500px;
    background-color: var(--black);
}

.ring-2{
     border-radius: 50%;
    height: 400px;
    width: 400px;
    background-color: var(--blue);
}

.ring-3{
     border-radius: 50%;
    height: 300px;
    width: 300px;
    background-color: var(--red);
}

.bullseye{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-color: var(--yellow);
}